<header>
    <span style="font-size:25px;cursor:pointer; line-height: 30px;" (click)="openMenu()">&#9776;</span>
    <div  style="display: inline-block; padding: 10px;">
      <img src="./assets/images/r-3-l-logo-application.svg"/>  
    </div>
    <div class="right">
        <span>Admin</span>
        <img src=""/>
    </div>
</header>
<div id="mySidenav" class="sidenav">
        <div class="left" style="padding: 20px;">
                <img src="./assets/images/r-3-l-logo-application.svg"/>  
        </div>
        <br>
        <a href="javascript:void(0)">
            Navigate
        </a>
        <hr>
        <a routerLink = "analytics">Analytics</a>
        <a routerLink = "news" >News</a>
        <a href="javascript:void(0)">Board</a>
        <a href="javascript:void(0)">BriefCase</a>
        <br>
        <a href="javascript:void(0)" (click)="closeMenu()">Close Menu</a>
</div>
<div>
    <div class="component-container">
        <router-outlet> </router-outlet>
      </div>
</div>
